
body {
    background-image: url("Images/waterfallB&W.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    height: 100%;
    color:white
}

#yt{
  background-color: black;
  color: white;
  border-radius: 8px;
  width: 300px;
  padding: 5px;
}
a{
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 8px;
  
}

a:hover {
  background-color: white;
  color: black;
  transition: 0.3s;
}

img{
  border-radius: 25px;
}

.maori{
  color: red;
}


.container div {
  background-color: #f1f1f100;
  border: 10px solid white;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  border-radius: 25px;
}

@media screen and (max-width: 599px){

.container {
  display: grid;
  grid-template-columns: 440px  ;
  grid-template-rows: auto auto auto;
  padding: 10px;
  column-gap: 15px;
  row-gap: 10px;
  
}
  .item1 {
  align-self: center;
  grid-row-start: 1;
  grid-row-end: 3;
}
.item2 {
  align-self: center;
}
.item3 {
  align-self: center;
}
}

@media screen and (min-width: 600px) and (max-width: 999px){
  body {
    background-image: url("Images/blue_sky_with_bird.jpg");
  
  
  }
    .container {
  display: grid;
  grid-template-columns: 440px 400px ;
  grid-template-rows: auto auto auto;
  padding: 10px;
  column-gap: 15px;
  row-gap: 10px;
    }
     .item1 {
  align-self: center;
  grid-row-start: 1;
  grid-row-end: 3;
}
.item2 {
  align-self: center;
}
.item3 {
  align-self: center;
}
}

@media screen and (min-width: 1000px) {
  body {
    background-image: url("Images/waterfallB&W.jpg");
  
  
  }
    .container {
  display: grid;
  grid-template-columns: 440px 400px 400px;
  grid-template-rows: 310px 310px;
  padding: 10px;
  column-gap: 15px;
  row-gap: 10px;
    }

    .item1 {
  align-self: center;
  grid-row-start: 1;
  grid-row-end: 3;
  
}

}

.containerflex {
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.329);
  
}

.containerflex div {
  background-color: #ffffff3e;
  width: 110px;
  margin: 5px;
  margin-left: 0px;
  padding: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;  
  font-size: 20px;
  color: black;
 
a{
text-decoration: none;
}
}

.w3-bar{
  background-color: rgba(255, 255, 255, 0.2);
}