body {
    background-image: url("Images/waterfallB&W.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    height: 100%;
    color:white
}

#yt{
  background-color: black;
  color: white;
  border-radius: 8px;
  width: 300px;
  padding: 5px;
}
a{
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 8px;
  margin-right: -150px;
}

img{
  border-radius: 25px;
}

.maori{
  color: red;
}

.container {
  display: grid;
  grid-template-columns: 450px 400px ;
  grid-template-rows: 1fr 1fr ;
  background-color: rgba(30, 143, 255, 0);
  padding: 10px;
  column-gap: 15px;
  row-gap: 10px;
  
}
.container div {
  background-color: #f1f1f100;
  border: 10px solid white;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  border-radius: 25px;
}
.item1 {
  align-self: center;
  grid-row-start: 1;
  grid-row-end: 3;
}
.item2 {
  align-self: center;
}
.item3 {
  align-self: center;
}